<div id="<%= dom_id profile %>">
  <p>
    <strong>Name:</strong>
    <%= profile.name %>
  </p>

  <p>

    <%= link_to profile.github, profile.github %>
  </p>

  <p>

    <%= link_to profile.linkedin, profile.linkedin %>
  </p>

  <p>

    <%= link_to profile.other, profile.other %>
  </p>

</div>
